@charset "UTF-08";

@font-face {
    font-family: 'Roboto';
    src: url(assets/fonts/Roboto-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(assets/fonts/Roboto-Bold.ttf) format(truetype);
}

:root {
    --Blue-800: hsl(234, 29%, 20%);
    --Blue-700: hsl(235, 18%, 26%);
    --Grey: hsl(0, 0%, 58%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    font-size: 16px;
}

/* TEXTO */
#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

img{
    height: auto;
    width: 100%;
    display: block;
}
article#text {

    color: var(--Blue-800);
    margin: 20px;
    text-align: justify;
}

h1 {
    font-family: 'Roboto-Bold';
    font-size: 2.3em;
    color: var(--Blue-800);
    margin-bottom: 20px;
}

ul {
    list-style: url(assets/images/icon-list.svg);
    margin: 20px;
}

li {
    margin: 20px 5px;
}

/* FORMULÁRIO */
div#form {
    margin: 0px 20px;
}

label {
    font-family: 'Roboto-Bold';
    color: var(--Blue-800);
}

input#email {
    height: 15px;
    width: 380px;
    padding: 20px;
    border: 1px solid var(--Grey);
    border-radius: 8px;


    margin-top: 10px;
    margin-bottom: 25px;
}

button {
    font-family: 'Roboto-Bold';
    color: var(--White);
    background-color: var(--Blue-800);

    height: 55px;
    width: 424px;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;

}