@media screen and (min-width: 750px) {
   
    *{
        box-sizing: border-box;
    }

    body{
        background-color: hsl(235, 18%, 26%);
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section{
        background-color: white;
        border-radius: 15px;
    }

    #container{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        max-width: 700px;
        height: auto;
        padding: 18px;
        gap: 5px; /*espaço entre os filhos */
    }

    article#text{
        flex: 1 1 50%; 
       /* significa: cresce 1, encolhe 1, tamanho base 50% → agora o texto e a imagem ocupam exatamente metade do container. */
        height: auto;
        font-size: 1em;
        text-align: justify;
        line-height: 20px;
        margin: 0px ;
    }

    
    picture{
        flex: 1 1 50%;
        border-radius: 20px;
        height: auto;
        width: 100%;
        object-fit: cover;
    }

    div#form{
        margin: 10px;
    }

    span{
        font-size: 14px;
        margin-left: 60px;
    }
    input#email{
        height: 30px;
        padding: 20px;
    }

    input#email::placeholder{
        font-size: 1em;
    }

    button{
        height: 30px;
        font-size: 15px;
        padding: 20px;
    }
}

@media screen and (max-height: 525px){
    #container{
        flex-direction: column;
        padding: 0;
    }
    article#text{
        height: 300px;
        margin: 20px
    }

    span#error{
       margin-left: 160px;
    }

   
}