@charset "UTF-8";

@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../assets/fonts/Roboto-Bold.ttf) format("truetype");
}

:root {
    --Blue-800: hsl(234, 29%, 20%);
    --Blue-700: hsl(235, 18%, 26%);
    --Grey: hsl(0, 0%, 58%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    font-size: 25px;
}

/* TEXTO */
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: auto;
   
}

picture{
    width: 100%;
}
img {
    display: block;
    height: auto;
    width: 100%;
   
}

article#text {
    color: var(--Blue-800);
    margin: 30px 0px;
    line-height: 45px;
    text-align: justify;
   
}

h1 {
    font-family: 'Roboto-Bold';
    font-size: 2.3em;
    margin-bottom: 20px;
}

ul {
    list-style: url(../assets/images/icon-list.svg);
    margin: 0px 20px;
}

li {
    margin: 20px 10px;
}

/* FORMULÁRIO */
div#form {
    margin: 35px 20px;
}

label {
    font-family: 'Roboto-Bold';
    color: var(--Blue-800);
}

input#email {
    height: 25%;
    width: 90%;
    padding: 20px;
    border: 1px solid var(--Grey);
    border-radius: 8px;

    margin-top: 10px;
    margin-bottom: 25px;
}

button {
    font-family: 'Roboto-Bold';
    color: var(--White);
    background-color: var(--Blue-800);

    width: 98%;
    padding: 22px;
    border-radius: 8px;
    margin-bottom: 50px;
    border: none;
    cursor: pointer;

}
